@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: 0.1s;
}

body {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    background: white;
    padding: 20px 40px;
}

header .logo {
    position: relative;
    font-size: 30px;
    color: #ff5349;
}

header ul {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style-type: none;
}

header ul li {
    position: relative;
    margin: 0px 20px;
}

header ul li a {
    position: relative;
    color: black;
    font-size: 16px;
    text-decoration: none;
}

header ul li a:hover {
    position: relative;
    color: #ff5349;
    cursor: pointer;
}

.sign-in,
.sign-up {
    padding: 5px 15px 5px 15px;
    border: 1px solid #ff5349;
    border-radius: 10px;
    color: #ff5349;
}

.sign-in:hover,
.sign-up:hover {
    background: #ff5349;
    color: white;
    box-shadow: 0px 0px 10px 1px #ff5349;
}

.sticky {
    position: sticky;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    background: white;
    padding: 10px 40px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}

.banner {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#error {
    color: #ff5349;
    font-size: 11em;
    text-shadow: 1px 20px 10px rgba(255, 160, 160, 0.212);
}

.message {
    position: relative;
    top: -40px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.oops {
    color: #4f80e1;
}

.line {
    position: relative;
    top: -40px;
    height: 2px;
    background: #f0f0f1;
    width: 500px;
}

.footer {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.footer a {
    color: #ff5349;
    text-decoration: none;
}