@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: 0.2s;
}

html {
    scroll-behavior: smooth;
    transition: 0.1s;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: white;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header ul {
    position: relative;
    display: flex;
    list-style-type: none;
}

.logo-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav {
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    width: 100%;
}

#header ul li {
    position: relative;
    margin: 0px 20px;
}

#header ul li a {
    position: relative;
    color: black;
    font-size: 15px;
    text-decoration: none;
}

#header ul li a:hover {
    position: relative;
    color: #ff5349;
    cursor: pointer;
}

#header .sign-in,
#header .sign-up {
    width: max-content;
}

#header .sign-in,
#header .sign-up,
.sign-up,
#header .logout {
    padding: 5px 15px 5px 15px;
    border: 1px solid #ff5349;
    border-radius: 10px;
    color: #ff5349;
    display: flex;
    align-items: center;
}

#header .sign-in:hover,
#header .sign-up:hover,
.sign-up:hover,
#header .logout:hover {
    background: #ff5349;
    color: white;
    box-shadow: 0px 0px 10px 1px #ff5349;
}

#sign-in-link,
#sign-up-link,
#logout-link {
    display: none;
    justify-content: center;
}

.sticky {
    align-items: center;
    width: 100%;
    z-index: 100;
    background: white;
    padding: 10px 40px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
}


/*authentication state links */

#authentication-state-links {
    flex-direction: row;
}

#hamburger {
    display: none;
    color: white;
    font-size: 30px;
}

#user-avatar {
    background: rgba(248, 248, 248, 0.774);
    border-radius: 10px;
    display: none;
    position: static;
    flex-direction: row;
    align-items: center;
    z-index: 900;
    justify-content: center;
    padding: 5px;
}

#user-avatar #username {
    margin: 0px 5px 0px 10px;
}

.main-container {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 40px;
}

.main-container .main-content {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
    width: 72%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-container .main-content .problems {
    margin: 20px;
    min-width: 400px;
    padding: 20px;
    background-color: white;
    min-height: 200px;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, 0.09);
}

.problems .properties {
    display: flex;
    flex-direction: row;
    font-size: 9px;
    justify-content: space-between;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.4);
}

.problems .properties .level {
    display: flex;
}

.problems .properties .max-score {
    display: flex;
}

.problems .properties .accuracy {
    display: flex;
}

.problems .problem-name {
    color: #ff5349;
    padding: 10px 0;
    font-size: 18px;
}

.problems .problem-statement {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
}

.problems .read-more,
.see-more,
.forward,
.backward {
    background: #ff5349;
    outline: none;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    color: white;
    position: relative;
    font-size: 12px;
    width: 80px;
    justify-content: center;
}

.forward,
.backward {
    font-size: 16px;
    width: 100px;
}

.problems .read-more {
    top: 20px;
}

.problems .read-more:hover,
.see-more:hover,
.forward:hover,
.backward:hover {
    box-shadow: 2px 0px 15px 1px rgb(247, 132, 132);
}

.sidebar {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
    max-height: 70vh;
    justify-content: space-between;
}

.sidebar .top-questions,
.sidebar .top-programming-languages {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
}

.sidebar .top-questions h4,
.sidebar .top-programming-languages h4 {
    color: #ff5349;
    font-size: 15px;
    margin-bottom: 10px;
}

.sidebar .top-questions ol,
.sidebar .top-programming-languages ol {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sidebar .top-questions ol li,
.sidebar .top-programming-languages ol li {
    font-size: 13px;
    padding: 2px;
}

.sidebar .top-questions ol li a,
.sidebar .top-programming-languages ol li a {
    font-size: 13px;
    margin-bottom: 5px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.sidebar .top-questions ol li a:hover,
.sidebar .top-programming-languages ol li a:hover {
    color: #ff5349;
}

.toggle-question {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 40px 20px;
}


/*CSS Code for CodeLibrary.html 
Author : The Roushan */

.code-library-container {
    display: flex;
    position: relative;
    margin: 60px 50px;
    flex-direction: row;
}

.code-library-container .code-library-content {
    width: 70%;
}

.code-library-container .code-library-content .problems {
    display: flex;
    position: relative;
    flex-direction: column;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px 0px #ddd;
    padding: 40px 80px;
}

.code-library-container .problems .properties {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: start;
    letter-spacing: 0px;
    font-size: 11px;
}

.code-library-container .problems .read-more {
    display: flex;
    align-self: flex-end;
    font-size: 14px;
    width: 170px;
    text-decoration: none;
    border-radius: 0px;
    align-items: center;
    padding: 8px;
    top: 0px;
    box-shadow: 0px 5px 10px 1px #ff9c97;
}

.code-library-container .problems .read-more:hover {
    box-shadow: 0px 5px 5px 1px #ff9c97;
}

.code-library-container .code-library-sidebar {
    display: flex;
    flex-direction: column;
    padding: 50px;
    width: 30%;
    font-size: 14px;
    right: 0px;
    position: fixed;
}

.code-library-container .code-library-sidebar .status {
    display: flex;
    flex-direction: column;
}

.code-library-container .code-library-sidebar h4 {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
}

.code-library-container .code-library-sidebar .status .solved {
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.6);
}

.code-library-container .code-library-sidebar .status .unsolved {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.6);
}

.difficulty .easy {
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.6);
}

.difficulty .medium {
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 0.6);
}

.difficulty .hard {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    color: rgba(0, 0, 0, 0.6);
}


/*Customization of Footer Section */

.footer {
    display: flex;
    position: relative;
    flex-direction: row;
    background-color: #292c44;
}

.footer .links {
    display: flex;
    width: 100%;
    background-color: #ff5349;
    justify-content: center;
    position: relative;
}

.footer .links a {
    position: relative;
    color: white;
    font-weight: 300;
    font-size: 14px;
    margin: 5px 30px;
}

.footer .links a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 1368px) {
    .main-container {
        margin: 100px
    }
    .main-container .main-content {
        width: 78%;
    }
    .main-container .main-content .problems {
        width: 40%;
        height: 10%;
        padding: 3%;
    }
    .sidebar {
        padding: 0 50px;
        width: 30%;
    }
    .sidebar .top-questions,
    .sidebar .top-programming-languages {
        padding: 40px 60px;
        margin: 10px 10px 50px 10px;
        width: 80%;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    }
}

@media only screen and (max-width: 600px) {
    #header {
        width: 100vw;
        display: block;
        position: static;
        background-color: #f0f0f1;
        text-align: center;
        padding: 0;
        height: max-content;
    }
    #hamburger {
        display: flex;
        background-color: #ff5349;
        padding: 20px 25px 20px 25px;
    }
    .logo-text {
        background-color: #ddd;
        height: 70px;
    }
    #header img {
        display: none;
    }
    #header ul,
    #nav {
        width: 100vw;
        display: none;
        padding: 0;
        margin: 0;
    }
    #nav li,
    #header ul li {
        display: block;
        width: 100vw;
        margin: 0;
        padding: 8px;
    }
    #authentication-state-links {
        display: none;
        width: 100vw;
        text-align: center;
    }
    .main-container {
        padding: 0;
        width: 100vw;
        margin: 0;
        position: relative;
        text-align: center;
        flex-direction: column-reverse;
    }
    .main-container .main-content {
        position: relative;
        width: 100vw;
        margin-right: 0;
        justify-content: center;
    }
    .main-container .main-content .problems {
        position: relative;
        margin: 10px;
        min-width: 90vw;
        text-align: left;
    }
    .sidebar {
        margin: 5%;
        position: relative;
        display: flex;
        width: 90vw;
        padding: 0;
        max-height: max-content;
    }
    .code-library-container {
        display: flex;
        position: absolute;
        flex-direction: column-reverse;
        width: 100vw;
        margin: 0;
    }
    .code-library-container .code-library-content {
        position: relative;
        margin-top: 20px;
        width: 100vw;
    }
    .code-library-container .code-library-content .problems {
        position: relative;
        width: 100vw;
        display: flex;
        height: fit-content;
        padding: 5%;
        margin-bottom: 8px;
    }
    .code-library-container .code-library-sidebar {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100vw;
        margin: 0;
        font-size: 14px;
        height: fit-content;
        background-color: #f0f0f0;
    }
    .code-library-container .problems .read-more {
        margin: 10px 0px 0px 0px;
        align-self: flex-start;
    }
    .footer .links {
        width: 100vw;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer .links a {
        padding: 8px;
        margin: 0px;
        display: block;
    }
    .footer .links a:hover {
        background-color: #292c44;
    }
}